* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

/* HEADER */
header {
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 50px 100px 50px;
}

/* LINKBAR */
.linkbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 12px;
}

/* HEADERBLOCK */
.headerblock {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.headerblock > * {
  max-width: 20rem;
}

.image img {
  max-width: 100%;
  height: auto;
}
